@charset "UTF-8";
@font-face {
  font-family: "HeliosCond";
  font-display: swap;
  src: url("../fonts/HeliosCond-Bold.woff2") format("woff2"), url("../fonts/HeliosCond-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HeliosCond";
  font-display: swap;
  src: url("../fonts/HeliosCond.woff2") format("woff2"), url("../fonts/HeliosCond.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #014049;
  line-height: 1;
  font-family: "OpenSans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "OpenSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75.9375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: -200%;
  transition: right 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
  right: 0;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  align-items: flex-end;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 3rem;
  padding-bottom: 8.125rem;
  position: relative;
  width: 100%;
  max-width: 41.875rem;
  min-height: 100vh;
}
.lock .popup__content {
  visibility: visible;
}
@media (max-width: 48em) {
  .popup__content {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 36em) {
  .popup__content {
    padding-bottom: 2.5rem;
  }
}
.popup__content::after {
  content: "";
  position: absolute;
  width: 42.5rem;
  height: 4.375rem;
  background: url("img/css_sprites.png") -25rem -0.625rem;
  bottom: 0.625rem;
}
@media (max-width: 36em) {
  .popup__content::after {
    display: none;
  }
}

.popup__close {
  font-family: "HeliosCond";
  font-size: 1rem;
  line-height: 1.1875;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  padding-left: 2.0625rem;
  margin-left: 2rem;
  outline: none;
}
@media (min-width: 77.8125em) {
  .popup__close {
    margin-bottom: 2.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.5939189189rem  +  1.4054054054vw , 2.6875rem )) {
    .popup__close {
      margin-bottom: clamp( 1.875rem , 1.5939189189rem  +  1.4054054054vw , 2.6875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.5939189189rem  +  1.4054054054vw , 2.6875rem )) {
    .popup__close {
      margin-bottom: calc(1.875rem + 0.8125 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 20em) {
  .popup__close {
    margin-bottom: 1.875rem;
  }
}
.popup__close::before {
  content: "";
  position: absolute;
  width: 1.125rem;
  height: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("img/css_sprites.png") -112.375rem -8.75rem;
}

.popup__bg {
  width: 44.4375rem;
  margin: 0 0 0 -1.3125rem;
  top: -7.5rem;
  height: 45.625rem;
  position: absolute;
  z-index: -1;
}
@media (max-width: 62em) {
  .popup__bg {
    top: -5rem;
  }
}
@media (max-width: 48em) {
  .popup__bg {
    top: -3.75rem;
  }
}
@media (max-width: 48em) {
  .popup__bg {
    top: -2.5rem;
  }
}

.request__inner {
  max-width: 35.25rem;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}
.request__bg-wrapper {
  position: relative;
}
.request__about-cnt {
  position: relative;
  overflow-x: clip;
}
.request__about-cnt::before {
  content: "";
  position: absolute;
  right: -2.5rem;
  top: -4.3125rem;
  width: 17.0625rem;
  height: 17.0625rem;
  background: url("img/css_sprites.png") -77.5625rem -6.25rem;
}
@media (max-width: 36em) {
  .request__about-cnt::before {
    right: -3.75rem;
  }
}
@media (max-width: 23.375em) {
  .request__about-cnt::before {
    display: none;
  }
}
.request__accounts {
  position: relative;
}
.request__accounts::before {
  content: "";
  position: absolute;
  width: 12.875rem;
  height: 16.25rem;
  left: -3.5625rem;
  top: -1.6875rem;
  background: url("img/css_sprites.png") -95.875rem -6.25rem;
  z-index: -1;
}
@media (max-width: 36em) {
  .request__accounts::before {
    left: -0.3125rem;
    top: 3.125rem;
  }
}
@media (max-width: 23.375em) {
  .request__accounts::before {
    display: none;
  }
}

.overall {
  display: flex;
  max-width: 36.3125rem;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 77.8125em) {
  .overall {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-bottom: clamp( 0.9375rem , -0.4679054054rem  +  7.027027027vw , 5rem )) {
    .overall {
      margin-bottom: clamp( 0.9375rem , -0.4679054054rem  +  7.027027027vw , 5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , -0.4679054054rem  +  7.027027027vw , 5rem )) {
    .overall {
      margin-bottom: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 20em) {
  .overall {
    margin-bottom: 0.9375rem;
  }
}
.overall__item {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  padding: 0.9375rem 0;
}
.overall__item:not(:last-child) {
  margin: 0px 0.0625rem 0px 0px;
}
.overall__option {
  margin: 0px 0px 0.1875rem 0px;
  text-transform: uppercase;
  font-family: "HeliosCond";
}
.overall__number {
  background-color: #00A6BE;
}
.overall__number .overall__number__info {
  font-size: 1.125rem;
  line-height: 1.3888888889;
}
.overall__info {
  font-weight: 700;
}
@media (max-width: 36em) {
  .overall__info {
    font-weight: 400;
  }
}

.deal-status-booking {
  background-color: #2ECCE2;
}

.account-status-unpaid,
.deal-status-cancel {
  background-color: #FF8FA4;
}

.account-status-partly,
.deal-status-processing {
  background-color: #FFB800;
}

.account-status-paid,
.deal-status-done {
  background-color: #7BA81D;
}

.request__info::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -1.375rem;
  top: 10.375rem;
  width: 10.6875rem;
  height: 15.8125rem;
  background: url("img/css_sprites.png") -14.0625rem -27rem;
}
@media (max-width: 23.375em) {
  .request__info::before {
    display: none;
  }
}

.info-request {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 77.8125em) {
  .info-request {
    margin-bottom: 11.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-bottom: clamp( 4.0625rem , 1.5760135135rem  +  12.4324324324vw , 11.25rem )) {
    .info-request {
      margin-bottom: clamp( 4.0625rem , 1.5760135135rem  +  12.4324324324vw , 11.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 4.0625rem , 1.5760135135rem  +  12.4324324324vw , 11.25rem )) {
    .info-request {
      margin-bottom: calc(4.0625rem + 7.1875 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 20em) {
  .info-request {
    margin-bottom: 4.0625rem;
  }
}
.info-request__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 33.333%;
  margin: 0px 0px 0.9375rem 0px;
}
@media (max-width: 36em) {
  .info-request__eta {
    width: 40%;
    order: 4;
  }
}
@media (max-width: 36em) {
  .info-request__etd {
    width: 40%;
    order: 2;
  }
}
@media (max-width: 36em) {
  .info-request__destination {
    width: 60%;
    order: 3;
  }
}
@media (max-width: 36em) {
  .info-request__shipment {
    width: 60%;
    order: 1;
  }
}
@media (max-width: 36em) {
  .info-request__number {
    width: 60%;
    order: 5;
  }
}
.info-request__option {
  margin: 0px 0px 0.25rem 0px;
  font-family: "HeliosCond";
  color: #00A6BE;
  text-transform: uppercase;
}
.info-request__info {
  font-size: 1rem;
}

.about-cnt {
  max-width: 19.125rem;
  position: relative;
  min-height: 10.875rem;
}
@media (min-width: 77.8125em) {
  .about-cnt {
    margin-bottom: 11.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-bottom: clamp( 4.375rem , 1.9966216216rem  +  11.8918918919vw , 11.25rem )) {
    .about-cnt {
      margin-bottom: clamp( 4.375rem , 1.9966216216rem  +  11.8918918919vw , 11.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 4.375rem , 1.9966216216rem  +  11.8918918919vw , 11.25rem )) {
    .about-cnt {
      margin-bottom: calc(4.375rem + 6.875 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 20em) {
  .about-cnt {
    margin-bottom: 4.375rem;
  }
}
.about-cnt__title {
  font-family: "HeliosCond";
  color: #00A6BE;
  margin: 0px 0px 1.5rem 0px;
  text-transform: uppercase;
}
.about-cnt__row {
  display: flex;
  justify-content: space-between;
}
.about-cnt__row:not(:last-child) {
  margin: 0px 0px 0.9375rem 0px;
}
.about-cnt__code {
  width: 8.4375rem;
  text-align-last: left;
}
.about-cnt__weight {
  width: 5.3125rem;
  text-align: right;
}
.about-cnt__hc {
  width: 5.3125rem;
  text-align: center;
}

.accounts-request {
  min-height: 11.3125rem;
}
@media (max-width: 36em) {
  .accounts-request {
    min-height: 16.5625rem;
  }
}
.accounts-request__title {
  font-family: "HeliosCond";
  color: #00A6BE;
  margin: 0px 0px 1.4375rem 0px;
  text-transform: uppercase;
}
.accounts-request__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accounts-request__row:not(:last-child) {
  margin: 0px 0px 0.9375rem 0px;
}
.accounts-request__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 auto;
}
.accounts-request__number {
  width: 8.6875rem;
  width: 50%;
  text-align: left;
}
@media (min-width: 36em) {
  .accounts-request__number {
    width: 33.333%;
  }
}
.accounts-request__status {
  width: 9.875rem;
  width: 50%;
  text-align: center;
  font-weight: 400 !important;
}
@media (min-width: 36em) {
  .accounts-request__status {
    width: 33.333%;
  }
}
.accounts-request__cost {
  text-align: left;
  width: 50%;
}
@media (min-width: 36em) {
  .accounts-request__cost {
    width: 33.333%;
    text-align: right;
  }
}
.accounts-request__download-button {
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/css_sprites.png") -110rem -8.75rem;
  margin: 0px 0px 0px 3.75rem;
}
@media (max-width: 36em) {
  .accounts-request__download-button {
    margin: 0;
    align-self: flex-start;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

._page-arrow {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 0.3125rem;
  border-right-width: 0.3125rem;
  border-top: 0.3125rem solid #014049;
  transition: transform 0.3s ease 0s;
}

._title {
  font-family: "HeliosCond";
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #00A6BE;
  position: relative;
}
._title::after, ._title::before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  width: 60.0625rem;
  height: 4.375rem;
}
@media (max-width: 23.375em) {
  ._title::after, ._title::before {
    display: none;
  }
}
._title::after {
  left: calc(100% + 1.25rem);
  background: url("img/css_sprites.png") -43.75rem -0.625rem;
}
._title::before {
  right: calc(100% + 1.25rem);
  background: url("img/css_sprites.png") -11.875rem -0.625rem;
}

._page-label {
  font-family: "HeliosCond";
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
  color: #00A6BE;
  margin: 0px 0px 0.375rem 1.25rem;
}

._page-input {
  width: 100%;
  background-color: #E7F7F9;
  border-radius: 0.1875rem;
  padding: 0.5625rem 1.25rem 0.6875rem;
  margin: 0px 0px 1.5625rem 0px;
}
._page-input::placeholder {
  color: #014049;
  font-size: 0.875rem;
  line-height: 1.3571428571;
}

._pass-link {
  color: #00A6BE;
  border-bottom: 1px dashed #00A6BE;
}
@media (any-hover: hover) {
  ._pass-link:hover {
    border-bottom: 1px dashed transparent;
  }
}

._page-btn {
  background-color: #00A6BE;
  color: #fff;
  font-family: "HeliosCond";
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0;
  border-radius: 0.1875rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 1.25rem;
  padding: 1.5rem 0.9375rem 0.625rem;
  flex-wrap: wrap;
}
@media (min-width: 77.8125em) {
  .header__container {
    column-gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.8125em) {
  @supports (column-gap: clamp( 0.625rem , 0.4087837838rem  +  1.0810810811vw , 1.25rem )) {
    .header__container {
      column-gap: clamp( 0.625rem , 0.4087837838rem  +  1.0810810811vw , 1.25rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , 0.4087837838rem  +  1.0810810811vw , 1.25rem )) {
    .header__container {
      column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    column-gap: 0.625rem;
  }
}
@media (max-width: 36em) {
  .header__logo {
    max-width: 11.625rem;
  }
  .header__logo img {
    max-width: 11.625rem;
  }
}
.header__menu {
  display: flex;
}
@media (min-width: 62em) {
  .header__menu {
    flex: 1 1 auto;
  }
  .header__menu nav {
    width: 100%;
  }
}
@media (min-width: 36em) {
  .header__menu {
    justify-content: center;
  }
}
.header__language {
  z-index: 6 !important;
}
.header__phone {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375;
  color: #00A6BE;
  white-space: nowrap;
}
@media (max-width: 66.9375em) {
  .header__phone {
    order: 5;
    margin: 0.75rem 0 0 1.0625rem;
  }
}
@media (max-width: 62em) {
  .header__phone {
    order: 1 !important;
    margin: 0 !important;
  }
}
@media (max-width: 36em) {
  .header__phone {
    order: 4 !important;
    width: 100%;
    margin: 0.75rem 0px 0px 0px !important;
    text-align: center;
  }
}
@media (any-hover: hover) {
  .header__phone:hover {
    text-decoration: underline;
  }
}
@media (max-width: 62em) {
  .header__cabinet {
    display: none !important;
  }
}

.cabinet-header {
  font-family: "HeliosCond";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  color: #014049;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 62em) {
  .cabinet-header {
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 36em) {
  .cabinet-header {
    font-size: 1.5625rem;
    line-height: 1.2;
    font-weight: 400;
  }
}
@media (min-width: 62em) {
  .cabinet-header--adaptive {
    display: none;
  }
}
.cabinet-header__arrow {
  opacity: 0;
  visibility: hidden;
  margin: 0px 0px 0px 0.4375rem;
}
.cabinet-header__arrow._spoller-active {
  transform: rotate(-180deg);
}
@media (max-width: 62em) {
  .cabinet-header__arrow {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 36em) {
  .cabinet-header__arrow {
    display: none;
  }
}
.cabinet-header .cabinet-header__login {
  position: absolute;
  top: 0.9375rem;
  font-weight: 400;
  text-transform: lowercase;
  font-family: "Open Sans" !important;
  font-size: 0.875rem;
  left: 1.875rem;
  color: #00A6BE;
}
@media (any-hover: hover) {
  .cabinet-header .cabinet-header__login:hover {
    text-decoration: underline;
  }
}
@media (max-width: 36em) {
  .cabinet-header .cabinet-header__login {
    left: 2.8125rem;
    top: 1.875rem;
    font-size: 1.125rem;
  }
}

._exit {
  font-size: 1.25rem;
  position: absolute;
  top: 100%;
  text-align: center;
  padding: 0.4375rem 1.125rem;
  background-color: #E7F7F9;
}

._exit-adaptive a {
  font-size: 1.25rem !important;
}
@media (min-width: 36em) {
  ._exit-adaptive a {
    display: none;
  }
}

@media (max-width: 62em) {
  .language,
.header__phone,
.header__logo {
    z-index: 5;
  }
}

@media (max-width: 62em) {
  .menu__body {
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 4;
    left: 0;
    top: -100%;
  }
  .menu-open .menu__body {
    top: 0;
    padding: 7.8125rem 0 6.9375rem;
    background-color: #fff;
  }
  .menu__body .menu__decor {
    position: absolute;
    bottom: 0.875rem;
    right: 0;
    width: 100%;
    height: 4.375rem;
    z-index: 6;
    background: url("img/css_sprites.png") -0.625rem -0.625rem;
  }
  .menu__body nav ul li._exit-adaptive {
    margin: 0 !important;
  }
}
@media (max-width: 36em) {
  .menu__body {
    position: fixed;
    height: 100%;
    top: 11.5625rem;
    overflow-x: hidden;
    overflow-y: auto;
    left: -100%;
    padding: 5rem 0px 7.3125rem 2.3125rem !important;
    margin: 6.5625rem 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }
  .menu__body nav {
    padding: 0px 0px 7.3125rem 0px;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu__body::after {
    content: "";
    position: absolute;
    width: 35.25rem;
    height: 35.25rem;
    left: 9.4375rem;
    bottom: -7.3125rem;
    background: rgba(0, 166, 190, 0.1);
    filter: blur(200px);
    z-index: -3;
  }
  .menu__body::before {
    content: "";
    position: absolute;
    width: 12.1875rem;
    height: 15.8125rem;
    right: 1.25rem;
    bottom: -3.3125rem;
    z-index: 5;
    background: url("img/css_sprites.png") -0.625rem -27rem;
    z-index: -2;
  }
  .menu__body .menu__decor {
    bottom: -6.1875rem;
    z-index: -1;
  }
}
.menu__body ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  width: 100%;
}
@media (min-width: 62em) {
  .menu__body ul {
    justify-content: space-between;
  }
}
@media (max-width: 36em) {
  .menu__body ul {
    flex-direction: column;
  }
}
@media (min-width: 66.9375em) and (max-width: 75.9375em) {
  @supports (margin-left: clamp( 0.625rem , -13.3203125rem  +  20.8333333333vw , 2.5rem )) {
    .menu__body ul li + li {
      margin-left: clamp( 0.625rem , -13.3203125rem  +  20.8333333333vw , 2.5rem );
    }
  }
  @supports not (margin-left: clamp( 0.625rem , -13.3203125rem  +  20.8333333333vw , 2.5rem )) {
    .menu__body ul li + li {
      margin-left: calc(0.625rem + 1.875 * (100vw - 66.9375rem) / 9);
    }
  }
}
@media (min-width: 62em) and (max-width: 66.9375em) {
  @supports (margin-left: clamp( 1.875rem , -5.9731012658rem  +  12.6582278481vw , 2.5rem )) {
    .menu__body ul li + li {
      margin-left: clamp( 1.875rem , -5.9731012658rem  +  12.6582278481vw , 2.5rem );
    }
  }
  @supports not (margin-left: clamp( 1.875rem , -5.9731012658rem  +  12.6582278481vw , 2.5rem )) {
    .menu__body ul li + li {
      margin-left: calc(1.875rem + 0.625 * (100vw - 62rem) / 4.9375);
    }
  }
}
@media (min-width: 36em) and (max-width: 62em) {
  @supports (margin-left: clamp( 0.9375rem , -1.2259615385rem  +  6.0096153846vw , 2.5rem )) {
    .menu__body ul li + li {
      margin-left: clamp( 0.9375rem , -1.2259615385rem  +  6.0096153846vw , 2.5rem );
    }
  }
  @supports not (margin-left: clamp( 0.9375rem , -1.2259615385rem  +  6.0096153846vw , 2.5rem )) {
    .menu__body ul li + li {
      margin-left: calc(0.9375rem + 1.5625 * (100vw - 36rem) / 26);
    }
  }
}
@media (min-width: 75.9375em) {
  .menu__body ul li {
    margin: 0 0 0 2.5rem;
  }
}
@media (max-width: 36em) {
  .menu__body ul li:not(:last-child) {
    margin: 0 0 4.6875rem 0 !important;
  }
  .menu__body ul li:nth-last-child(-n+2) {
    margin: 0 0 2.1875rem 0 !important;
  }
}
.menu__body ul li a {
  font-family: "HeliosCond";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  color: #014049;
  text-transform: uppercase;
}
@media (max-width: 36em) {
  .menu__body ul li a {
    font-size: 1.5625rem;
    line-height: 1.2;
    font-weight: 400;
  }
}

.language {
  position: relative;
}
@media (max-width: 62em) {
  .language {
    order: 2;
  }
}
@media (max-width: 23.375em) {
  .language {
    display: none;
  }
}
.language__button {
  display: flex;
  align-items: center;
}
.language__button._spoller-active .language__arrow {
  transform: rotate(-180deg);
}
.language span {
  font-weight: 600;
  color: #014049;
  margin: 0 0.0625rem 0 0.1875rem;
}
.language__list {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  margin: 0.3125rem 0px 0px 0px;
  background-color: #fff;
  padding: 0.4375rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.2);
  z-index: 7;
}
.language__list li:not(:last-child) {
  margin-bottom: 0.4444444444em;
}
.language__list li a {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.icon-menu {
  display: none;
}
@media (max-width: 62em) {
  .icon-menu {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 5;
    order: 3;
    font-family: "HeliosCond";
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875;
    color: #014049;
    width: 40px;
    height: 30px;
    text-transform: uppercase;
  }
  .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    overflow: 0;
    visibility: hidden;
    width: 33px;
    height: 2px;
    background-color: #00A6BE;
  }
  .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu {
    font-size: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    opacity: 1;
    visibility: visible;
  }
}

.cabinet {
  padding: 3.3125rem 0px 12.625rem 0px;
  position: relative;
}
@media (max-width: 62em) {
  .cabinet {
    padding: 3.3125rem 0px 35.6875rem 0px;
  }
}
@media (max-width: 36em) {
  .cabinet {
    padding: 3.3125rem 0px 21.5625rem 0px;
  }
}
@media (max-width: 23.375em) {
  .cabinet {
    padding: 3.3125rem 0px 6.5625rem 0px;
  }
}
.cabinet::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  width: 120rem;
  height: 4.375rem;
  background: url("img/css_sprites.png") -0.625rem -0.625rem;
}
@media (max-width: 62em) {
  .cabinet::after {
    bottom: 3.75rem;
  }
}
@media (max-width: 36em) {
  .cabinet::after {
    bottom: 0rem;
  }
}
@media (max-width: 23.375em) {
  .cabinet::after {
    display: none;
  }
}
.cabinet__bg-blur {
  position: absolute;
  border-radius: 50%;
  width: 50.3125rem;
  height: 50.3125rem;
  background-color: rgba(0, 166, 190, 0.3);
  filter: blur(200px);
  right: -24.6875rem;
  top: -18.75rem;
  z-index: -2;
}
@media (max-width: 62em) {
  .cabinet__bg-blur {
    right: -28.1875rem;
    top: 6.5625rem;
  }
}
@media (max-width: 36em) {
  .cabinet__bg-blur {
    width: 35.3125rem;
    height: 35.3125rem;
    right: -20rem;
    top: 10rem;
  }
}
.cabinet__bg {
  position: absolute;
  top: 6.25rem;
  right: 1.875rem;
  width: 29.5625rem;
  height: 19.5rem;
  background: url("../img/css_sprites.png") -0.625rem -6.25rem;
  z-index: -1;
}
@media (max-width: 62em) {
  .cabinet__bg {
    right: 0rem;
    top: 30.875rem;
  }
}
@media (max-width: 36em) {
  .cabinet__bg {
    transform: scale(0.7);
    right: -3.75rem;
    top: 21.875rem;
  }
}
@media (max-width: 23.375em) {
  .cabinet__bg {
    transform: scale(0.52);
    right: -6.5625rem;
    top: 10.9375rem;
  }
}
.cabinet__container {
  position: relative;
}
.cabinet__title-wrapper {
  display: flex;
  justify-content: center;
}
.form-cabinet {
  max-width: 23rem;
  margin: 5rem 0px 0px 13.125rem;
}
@media (max-width: 62em) {
  .form-cabinet {
    margin: 8.75rem auto 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 62em) and (min-width: 77.8125em) {
  .form-cabinet {
    margin-top: 8.75rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-top: clamp( 1.25rem , -1.3445945946rem  +  12.972972973vw , 8.75rem )) {
    .form-cabinet {
      margin-top: clamp( 1.25rem , -1.3445945946rem  +  12.972972973vw , 8.75rem );
    }
  }
  @supports not (margin-top: clamp( 1.25rem , -1.3445945946rem  +  12.972972973vw , 8.75rem )) {
    .form-cabinet {
      margin-top: calc(1.25rem + 7.5 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .form-cabinet {
    margin-top: 1.25rem;
  }
}
.form-cabinet__form {
  display: flex;
  flex-direction: column;
  max-width: 23rem;
  width: 100%;
}
.form-cabinet__subtitle {
  font-size: 1.125rem;
  line-height: 1.3888888889;
  font-weight: 700;
  margin: 0px 0px 0.3125rem 0px;
}
.form-cabinet__info {
  margin: 0px 0px 1.5625rem 0px;
}
.form-cabinet__info p {
  line-height: 1.3571428571;
}
.form-cabinet__remember {
  color: #00A6BE;
  margin: 0.6875rem 0px 0px 0px;
  text-align: center;
}
@media (any-hover: hover) {
  .form-cabinet__remember:hover {
    text-decoration: underline;
  }
}
.form-cabinet__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 2.1875rem 0px;
}
.form-cabinet__chekbox-label {
  padding: 0px 0px 0px 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form-cabinet__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-cabinet__checkbox:checked + .form-cabinet__check {
  background-image: url("img/check.svg");
  background-size: 0.75rem 0.75rem;
  background-position: center 0.3125rem;
  background-repeat: no-repeat;
}
.form-cabinet__check {
  cursor: pointer;
  margin: 0px 0px 0px -2rem;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #E7F7F9;
  border-radius: 0.3125rem;
}
.error {
  margin-top: 5rem;
  position: relative;
}
@media (max-width: 62em) and (min-width: 77.8125em) {
  .error {
    margin-top: 6.0625rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-top: clamp( 2.5rem , 1.2675675676rem  +  6.1621621622vw , 6.0625rem )) {
    .error {
      margin-top: clamp( 2.5rem , 1.2675675676rem  +  6.1621621622vw , 6.0625rem );
    }
  }
  @supports not (margin-top: clamp( 2.5rem , 1.2675675676rem  +  6.1621621622vw , 6.0625rem )) {
    .error {
      margin-top: calc(2.5rem + 3.5625 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .error {
    margin-top: 2.5rem;
  }
}
@media (max-width: 62em) and (min-width: 77.8125em) {
  .error {
    padding-bottom: 10.625rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (padding-bottom: clamp( 8.75rem , 8.1013513514rem  +  3.2432432432vw , 10.625rem )) {
    .error {
      padding-bottom: clamp( 8.75rem , 8.1013513514rem  +  3.2432432432vw , 10.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 8.75rem , 8.1013513514rem  +  3.2432432432vw , 10.625rem )) {
    .error {
      padding-bottom: calc(8.75rem + 1.875 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .error {
    padding-bottom: 8.75rem;
  }
}
.error::before {
  content: "";
  position: absolute;
  width: 120rem;
  height: 4.375rem;
  top: -3.75rem;
  left: 0;
  z-index: -2;
}
@media (max-width: 62em) {
  .error::before {
    top: 5.625rem;
  }
}
.error::after {
  content: "";
  position: absolute;
  width: 120rem;
  height: 4.375rem;
  bottom: -4.375rem;
  z-index: -2;
  left: 0;
}
@media (max-width: 62em) {
  .error::after {
    bottom: -8.75rem;
  }
}
.error__bg {
  position: absolute;
  top: 3.75rem;
  right: -3.6875rem;
  width: 29.5625rem;
  height: 19.5rem;
  background: url("../img/css_sprites.png") -0.625rem -6.25rem;
  z-index: -1;
}
@media (max-width: 62em) {
  .error__bg {
    transform: scale(1.2);
    top: 17.5rem;
    right: -6.9375rem;
  }
}
@media (max-width: 36em) {
  .error__bg {
    display: none;
  }
}
.error__container {
  display: flex;
  justify-content: center;
  position: relative;
}
.error__container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 50.3125rem;
  height: 50.3125rem;
  background-color: rgba(0, 166, 190, 0.1);
  filter: blur(200px);
  right: -27.25rem;
  top: -17.6875rem;
  z-index: -2;
}
@media (max-width: 62em) {
  .error__container::after {
    right: -27.875rem;
    top: 3.3125rem;
  }
}
@media (max-width: 36em) {
  .error__container::after {
    right: -19.6875rem;
    top: 3.3125rem;
  }
}
.error__container::before {
  content: "";
  position: absolute;
  width: 17.0625rem;
  height: 18.25rem;
  bottom: -9.375rem;
  left: 11.25rem;
  background: url("../img/css_sprites.png") -59.25rem -6.25rem;
  z-index: -1;
}
@media (max-width: 62em) {
  .error__container::before {
    left: 50%;
    transform: translateX(-50%);
    bottom: -15.625rem;
  }
}
@media (max-width: 62em) {
  .error__container {
    flex-direction: column;
    align-items: center;
  }
}
.error__img {
  width: 26.5625rem;
  height: 19.5rem;
  margin-top: 3.125rem;
  background: url("../img/css_sprites.png") -31.4375rem -6.25rem;
}
@media (max-width: 36em) {
  .error__img {
    transform: scale(0.66);
    margin-top: 0rem;
  }
}
@media (max-width: 23.375em) {
  .error__img {
    transform: scale(0.6);
  }
}
.error__content {
  max-width: 450px;
  margin: 0px 0px 0px 9.375rem;
  font-weight: 300;
}
@media (min-width: 62em) and (max-width: 75em) {
  @supports (margin-left: clamp( 3.125rem , -26.6826923077rem  +  48.0769230769vw , 9.375rem )) {
    .error__content {
      margin-left: clamp( 3.125rem , -26.6826923077rem  +  48.0769230769vw , 9.375rem );
    }
  }
  @supports not (margin-left: clamp( 3.125rem , -26.6826923077rem  +  48.0769230769vw , 9.375rem )) {
    .error__content {
      margin-left: calc(3.125rem + 6.25 * (100vw - 62rem) / 13);
    }
  }
}
@media (max-width: 62em) {
  .error__content {
    text-align: center;
    margin: 0;
  }
}
.error__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1666666667;
  font-family: "HeliosCond";
  margin: 0px 0px 1.375rem 0px;
}
@media (max-width: 62em) and (min-width: 77.8125em) {
  .error__title {
    font-size: 4.5rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (font-size: clamp( 2.5rem , 1.8081081081rem  +  3.4594594595vw , 4.5rem )) {
    .error__title {
      font-size: clamp( 2.5rem , 1.8081081081rem  +  3.4594594595vw , 4.5rem );
    }
  }
  @supports not (font-size: clamp( 2.5rem , 1.8081081081rem  +  3.4594594595vw , 4.5rem )) {
    .error__title {
      font-size: calc(2.5rem + 2 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .error__title {
    font-size: 2.5rem;
  }
}
.error__descr {
  font-family: "Open Sans";
  font-size: 1.5625rem;
  line-height: 1.36;
  color: #00A6BE;
}
@media (min-width: 77.8125em) {
  .error__descr {
    margin-bottom: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-bottom: clamp( 1rem , 0.8702702703rem  +  0.6486486486vw , 1.375rem )) {
    .error__descr {
      margin-bottom: clamp( 1rem , 0.8702702703rem  +  0.6486486486vw , 1.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 1rem , 0.8702702703rem  +  0.6486486486vw , 1.375rem )) {
    .error__descr {
      margin-bottom: calc(1rem + 0.375 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 20em) {
  .error__descr {
    margin-bottom: 1rem;
  }
}
@media (max-width: 62em) and (min-width: 77.8125em) {
  .error__descr {
    font-size: 2.5rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (font-size: clamp( 1.5625rem , 1.2381756757rem  +  1.6216216216vw , 2.5rem )) {
    .error__descr {
      font-size: clamp( 1.5625rem , 1.2381756757rem  +  1.6216216216vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.2381756757rem  +  1.6216216216vw , 2.5rem )) {
    .error__descr {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .error__descr {
    font-size: 1.5625rem;
  }
}
.error__text {
  font-size: 1.875rem;
  line-height: 1.3666666667;
  margin: 0px 0px 2.5rem 0px;
}
@media (max-width: 62em) {
  .error__text {
    margin: 0px 0px 1.75rem 0px;
  }
}
@media (max-width: 62em) and (min-width: 77.8125em) {
  .error__text {
    font-size: 1.875rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (font-size: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .error__text {
      font-size: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .error__text {
      font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .error__text {
    font-size: 1.5625rem;
  }
}
.error__link {
  max-width: 23rem;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0px 0px 1.5625rem -0.625rem;
}
@media (max-width: 62em) {
  .error__link {
    margin: 0px auto 1.5625rem auto;
  }
}
.error__call-text {
  font-size: 1.5625rem;
  line-height: 1.36;
}
@media (min-width: 77.8125em) {
  .error__call-text {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.8125em) {
  @supports (margin-bottom: clamp( 1.125rem , 0.9952702703rem  +  0.6486486486vw , 1.5rem )) {
    .error__call-text {
      margin-bottom: clamp( 1.125rem , 0.9952702703rem  +  0.6486486486vw , 1.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.125rem , 0.9952702703rem  +  0.6486486486vw , 1.5rem )) {
    .error__call-text {
      margin-bottom: calc(1.125rem + 0.375 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 20em) {
  .error__call-text {
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 62em) and (min-width: 77.8125em) {
  .error__call-text {
    font-size: 1.5625rem;
  }
}
@media (max-width: 62em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (font-size: clamp( 1.25rem , 1.1418918919rem  +  0.5405405405vw , 1.5625rem )) {
    .error__call-text {
      font-size: clamp( 1.25rem , 1.1418918919rem  +  0.5405405405vw , 1.5625rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1418918919rem  +  0.5405405405vw , 1.5625rem )) {
    .error__call-text {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 62em) and (max-width: 20em) {
  .error__call-text {
    font-size: 1.25rem;
  }
}
.error__phone {
  font-size: 1.875rem;
  line-height: 1.3666666667;
  color: #00A6BE;
  font-weight: 600;
}

.applications {
  margin: 1.875rem 0px 0px 0px;
}
.applications__title-wrapper {
  display: flex;
  justify-content: center;
}
.applications__wrapper {
  margin: 1.875rem 0px 0px 0px;
}
.applications__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0.75rem 0px;
}
.applications__client {
  font-family: "HeliosCond";
  text-transform: uppercase;
}
.applications__name {
  margin: 0px 0px 0.25rem 0px;
}
.applications__balance {
  color: #00A6BE;
}
.applications__balance span {
  font-weight: 700;
}
.applications__filters-button {
  width: 1.6875rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 62em) {
  .applications__filters-button {
    display: none;
  }
}
.applications__filters-button span {
  height: 0.125rem;
  background-color: #00A6BE;
}
.applications__filters-button span:nth-child(1), .applications__filters-button span:nth-child(2) {
  width: 100%;
}
.applications__filters-button span:nth-child(3) {
  width: 1.1875rem;
}
@media (max-width: 48em) {
  .applications__filters-button {
    order: 3;
  }
}
@media (max-width: 48em) {
  .applications__settings {
    order: 4;
  }
}
.applications__button {
  font-family: "HeliosCond";
  text-transform: uppercase;
  padding: 0.1875rem 1.125rem;
  border-radius: 3px;
}
.applications__button--active {
  color: #fff;
  font-weight: 700;
  background-color: #00A6BE;
}
.search-applications {
  position: relative;
  max-width: 13.0625rem;
}
.search-applications__button {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: 0.8125rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/css_sprites.png") -117.5rem -6.25rem;
}
.search-applications__input {
  width: 100%;
  background-color: #E7F7F9;
  border-radius: 0.1875rem;
  padding: 0.375rem 2.875rem 0.375rem 1.25rem;
}
.search-applications__input::placeholder {
  color: #014049;
}

.table-applications {
  width: 100%;
}
@media (max-width: 61.99875em) {
  .table-applications__head {
    display: none;
  }
}
.table-applications__row-box {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 30px);
  background-color: #E7F7F9;
  border-top: 1px solid rgba(0, 166, 190, 0.3);
  padding: 0 0.6875rem 0 2.8125rem;
}
@media (min-width: 61.99875em) {
  .table-applications__row-box {
    display: none;
  }
}
@media (max-width: 36em) and (min-width: 77.8125em) {
  .table-applications__row-box {
    padding-left: 1.875rem;
  }
}
@media (max-width: 36em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (padding-left: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row-box {
      padding-left: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row-box {
      padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 36em) and (max-width: 20em) {
  .table-applications__row-box {
    padding-left: 0.9375rem;
  }
}
@media (max-width: 36em) and (min-width: 77.8125em) {
  .table-applications__row-box {
    padding-right: 1.875rem;
  }
}
@media (max-width: 36em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (padding-right: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row-box {
      padding-right: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row-box {
      padding-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 36em) and (max-width: 20em) {
  .table-applications__row-box {
    padding-right: 0.9375rem;
  }
}
.table-applications__row-right {
  display: flex;
  align-items: center;
}
.table-applications__row-right .table-applications__cell, .table-applications__row-right .table-applications__payment-pink, .table-applications__row-right .table-applications__payment-yellow, .table-applications__row-right .table-applications__payment-green {
  margin: 0px 1.75rem 0px 0px;
}
.table-applications__payment-pink {
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/css_sprites.png") -112.5rem -6.25rem;
}
.table-applications__arrow {
  width: 0.9375rem;
  height: 1.125rem;
  background: url("../img/css_sprites.png") -110rem -11.25rem;
}
@media (min-width: 61.99875em) {
  .table-applications__arrow {
    display: none;
  }
}
.table-applications__head-row {
  background-color: #00A6BE;
}
.table-applications__head-cell {
  padding: 1.375rem 0;
  text-transform: uppercase;
  color: #fff;
  font-family: "HeliosCond";
}
.table-applications__cnt {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .table-applications__cnt:hover {
    color: #00A6BE;
  }
}
@media (max-width: 61.99875em) {
  .table-applications__consignment, .table-applications__payment, .table-applications__cnt {
    display: none;
  }
}
.table-applications__cell-wrapper {
  display: inline-flex;
  align-items: center;
}
.table-applications__buttons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 0.3125rem;
}
.table-applications__button-up {
  width: 0.6875rem;
  height: 0.375rem;
  background: url("../img/css_sprites.png") -112.1875rem -11.25rem;
}
.table-applications__button-down {
  width: 0.6875rem;
  height: 0.375rem;
  background: url("../img/css_sprites.png") -118.625rem -8.75rem;
  margin: 0.125rem 0px 0px 0px;
}
@media (max-width: 36em) {
  .table-applications__row {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 36em) and (min-width: 77.8125em) {
  .table-applications__row {
    padding-left: 1.875rem;
  }
}
@media (max-width: 36em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (padding-left: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row {
      padding-left: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row {
      padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 36em) and (max-width: 20em) {
  .table-applications__row {
    padding-left: 0.9375rem;
  }
}
@media (max-width: 36em) and (min-width: 77.8125em) {
  .table-applications__row {
    padding-right: 1.875rem;
  }
}
@media (max-width: 36em) and (min-width: 20em) and (max-width: 77.8125em) {
  @supports (padding-right: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row {
      padding-right: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
    .table-applications__row {
      padding-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 57.8125);
    }
  }
}
@media (max-width: 36em) and (max-width: 20em) {
  .table-applications__row {
    padding-right: 0.9375rem;
  }
}
.table-applications__row-1 {
  background-color: #fff;
}
.table-applications__cell {
  padding: 1.25rem 0 1.125rem;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 166, 190, 0.3);
}
@media (max-width: 61.99875em) {
  .table-applications__cell {
    border-bottom: 0;
  }
}
.table-applications__button {
  white-space: nowrap;
}
@media (max-width: 61.99875em) {
  .table-applications__button {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
@media (max-width: 36em) {
  .table-applications__button {
    font-size: 0.9375rem;
    font-weight: 400;
  }
}
.table-applications__shipment, .table-applications__destination, .table-applications__cnt, .table-applications__consignment, .table-applications__eta, .table-applications__etd {
  line-height: 1.3571428571;
}
@media (max-width: 61.99875em) {
  .table-applications__shipment, .table-applications__destination, .table-applications__cnt, .table-applications__consignment, .table-applications__eta, .table-applications__etd {
    font-size: 1rem;
  }
}
@media (max-width: 36em) {
  .table-applications__shipment, .table-applications__destination, .table-applications__cnt, .table-applications__consignment, .table-applications__eta, .table-applications__etd {
    font-size: 0.9375rem;
  }
}
@media (max-width: 36em) {
  .table-applications__shipment {
    text-align: left;
  }
}
@media (max-width: 36em) {
  .table-applications__destination {
    text-align: center;
  }
}
@media (max-width: 36em) {
  .table-applications__destination, .table-applications__shipment {
    display: inline-flex;
    flex-direction: column;
    padding: 0.5rem 0 1.5rem;
  }
}
@media (max-width: 61.99875em) {
  .table-applications__destination, .table-applications__shipment, .table-applications__etd, .table-applications__eta {
    width: 25%;
  }
}
@media (max-width: 36em) {
  .table-applications__destination, .table-applications__shipment, .table-applications__etd, .table-applications__eta {
    width: 50%;
  }
}
@media (max-width: 36em) {
  .table-applications__etd {
    padding: 0;
    margin: 0.4375rem 0px 0px 0px;
  }
}
@media (max-width: 36em) {
  .table-applications__eta {
    padding: 0;
    margin: 0.4375rem auto 0px auto;
    text-align: center;
  }
}
.table-applications__row-2 {
  background-color: #F5FCFD;
}

.status-green {
  color: #7BA81D;
  font-weight: 600;
}

.status-pink {
  color: #FF8FA4;
  font-weight: 600;
}

.status-blue {
  color: #2ECCE2;
  font-weight: 600;
}

.status-yellow {
  color: #FFB800;
  font-weight: 600;
}

@media (max-width: 62em) {
  .status-yellow,
.status-blue,
.status-pink,
.status-green {
    font-size: 0.9375rem;
    font-weight: 400;
  }
}
